.projects-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 2px solid transparent;
    transition: box-shadow 1s ease; /* Transición suave */
    box-sizing: border-box;
    border-radius: 8px;
  }
  .project-card:hover{
    box-shadow: 0 0 20px  var(--highlight);
    background-color: var(--highlight);
    transition: background-color 2s ease;
    /* color: black; */
  }

  .light .project-card:hover{
    box-shadow: 0 0 20px  #000000;
    background-color: #000000;
    transition: background-color 2s ease;
    color: rgb(255, 255, 255);
  }

  .project-card img {
    width: 400px;
    border-radius: 8px;
    object-fit: cover;
    height: 300px;
    border: 2px solid white;
  }
  .project-card > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header, .detail {
    padding: 5px;
  }

  .project-card > .header > div {
    display: flex;
    gap: 0.5rem;
  }

  .project-card > .header > div > a > img {
    width: 20px;
    height: 20px;
    filter: invert(90%);
    transition: all 0.3s ease-in-out;
  }
  .light .project-card > .header > div > a > img {
    filter: invert(50%);
    transition: all 0.3s ease-in-out;
  }

  .project-card > .header > div > a > img:hover {
    transform: scale(1.1);
  }
  .light .project-card > .header > div > a > img:hover {
    filter: invert(80%);
    transform: scale(1.1);
  }

  .project-card > .detail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .project-card > .detail > .tech {
    color: rgb(246, 164, 0);
  }

  @media screen and (max-width: 610px) {
    .project-card img {
      width: 400px;
      border-radius: 6px;
      object-fit: cover;
      height: 300px;
    }
  }

   @media screen and (max-width: 425px) {
    .project-card img {
      width: 300px;
      object-fit: cover;
      height: 250px;
    }
  }